.navbar {
    top: 93%;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    justify-content: center;
}

.navbar_center {
    justify-content: center;
}

.navbar__container {
    align-items: center;
    padding: 5px;
}

.navbar__container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: solid 2px orangered;
    border-radius: 10px;
}

.navbar__list .navbar__item-container {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin: 5px;
    padding: 0 5px 0 5px;
    vertical-align: middle;
    text-align: center;
}

.navbar_center .navbar__item-container {
    display: inline-block;
    font-size: 15px;

    position: relative;
}

.navbar__item {
    display: inline-block;
    vertical-align: middle;
    line-height: normal
}

.navbar__item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar__item-container {
    border-radius: 10px;
    transition: background-color 0.6s ease-out 100ms;
}

.navbar__item-container:hover {
    background-color: rgba(255, 69, 0, 0.07);
}

@media screen and (max-width: 460px) {
    .navbar {
        top: unset;
        width: 100%;
    }

    .navbar__list {
        border: none;
        border-radius: unset;
    }

    .navbar_bottom {
        margin-top: 50px;
        background-color: orangered;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .navbar__item {
        color: white;
    }

    .navbar__container {
        background: transparent;
        border-radius: unset;
        box-shadow: none;
        backdrop-filter: none;
        border: none;
    }
}